# This is a sample Uniform project and API key; you cannot edit the data in this project.
# To use your own project, create a new project in the Uniform dashboard, choose commerce starter kit, 
# and paste the project ID and API key it gives you here instead.
UNIFORM_API_KEY=uf1h74q8dnlj3s39kuy2v3yvtq93cwfjzc83f5404u94ph7v4cgfmf8ny575efnkshal0s6emphs6kvrgxj605au4gj2duu2t
UNIFORM_PROJECT_ID=44c6150c-22aa-4097-a2da-9100fd77b657

# Salesforce commerce
SALESFORCE_COMMERCE_CLOUD_CLIENT_ID=
SALESFORCE_COMMERCE_CLOUD_CLIENT_SECRET=
SALESFORCE_COMMERCE_CLOUD_ORG_ID=
SALESFORCE_COMMERCE_CLOUD_SHORT_CODE=
SALESFORCE_COMMERCE_CLOUD_SITE_ID=
SALESFORCE_COMMERCE_CLOUD_EINSTEIN_ID=
SALESFORCE_COMMERCE_CLOUD_EINSTEIN_SITE_ID=